In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("visitantes_por_dia.xlsx", sheet_name="2023")
df = df.dropna(subset=["Data.Rio", "Unnamed: 3"])
df

,Data.Rio,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
7,janeiro,9625,11881,21506,904,1162,1204.0,694.0,144.0,22.0,...,1533,570,222.0,489.0,514.0,678.0,1716.0,1383,-,-
8,fevereiro,5870,10480,16350,267,334,345.0,1480.0,1125.0,377.0,...,936,509,721.0,976.0,1025.0,281.0,294.0,NaN,NaN,NaN
9,mar√ßo,7597,11987,19584,212,245,287.0,1282.0,1352.0,230.0,...,326,281,334.0,1422.0,2269.0,52.0,243.0,324,-,199
10,abril,4630,13414,18044,594,594,370.0,303.0,396.0,359.0,...,2026,2033,111.0,342.0,317.0,319.0,48.0,750,1186,NaN
11,maio,5437,16147,21584,3559,248,442.0,213.0,408.0,1364.0,...,341,380,399.0,299.0,419.0,2007.0,2391.0,-,202,55
12,junho,5775,20428,26203,142,237,1161.0,1628.0,210.0,362.0,...,316,240,1405.0,2395.0,111.0,315.0,376.0,420,233,NaN
13,julho,13026,16096,29122,1708,1492,281.0,301.0,492.0,308.0,...,2904,3250,1204.0,1148.0,1143.0,1150.0,972.0,81,575,684
14,agosto,7903,11407,19310,319,464,393.0,633.0,3224.0,3100.0,...,417,381,445.0,349.0,58.0,58.0,54.0,97,170,253
15,setembro,5772,21008,26780,408,1442,1865.0,361.0,138.0,268.0,...,397,1869,1791.0,196.0,284.0,208.0,169.0,317,1344,NaN
16,outubro,4886,9430,14316,61,244,198.0,353.0,118.0,376.0,...,1241,402,350.0,83.0,117.0,369.0,735.0,924,40,263
17,novembro,4852,13551,18403,169,1400,1529.0,666.0,1809.0,362.0,...,-,-,33.0,526.0,934.0,295.0,161.0,174,174,NaN
18,dezembro,6822,6733,13555,241,741,1273.0,189.0,256.0,292.0,...,369,641,259.0,311.0,252.0,546.0,780.0,945,570,650

In [4]:
df.columns

Index(['Data.Rio', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34'],
      dtype='object')

In [5]:
df.columns = ["Mes",
    "Dias uteis", 
    "Fins de semana, feriados e pontos facultativos", 
    "Mensal", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
    "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", 
    "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"
]

In [6]:
df

,Mes,Dias uteis,"Fins de semana, feriados e pontos facultativos",Mensal,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
7,janeiro,9625,11881,21506,904,1162,1204.0,694.0,144.0,22.0,...,1533,570,222.0,489.0,514.0,678.0,1716.0,1383,-,-
8,fevereiro,5870,10480,16350,267,334,345.0,1480.0,1125.0,377.0,...,936,509,721.0,976.0,1025.0,281.0,294.0,NaN,NaN,NaN
9,mar√ßo,7597,11987,19584,212,245,287.0,1282.0,1352.0,230.0,...,326,281,334.0,1422.0,2269.0,52.0,243.0,324,-,199
10,abril,4630,13414,18044,594,594,370.0,303.0,396.0,359.0,...,2026,2033,111.0,342.0,317.0,319.0,48.0,750,1186,NaN
11,maio,5437,16147,21584,3559,248,442.0,213.0,408.0,1364.0,...,341,380,399.0,299.0,419.0,2007.0,2391.0,-,202,55
12,junho,5775,20428,26203,142,237,1161.0,1628.0,210.0,362.0,...,316,240,1405.0,2395.0,111.0,315.0,376.0,420,233,NaN
13,julho,13026,16096,29122,1708,1492,281.0,301.0,492.0,308.0,...,2904,3250,1204.0,1148.0,1143.0,1150.0,972.0,81,575,684
14,agosto,7903,11407,19310,319,464,393.0,633.0,3224.0,3100.0,...,417,381,445.0,349.0,58.0,58.0,54.0,97,170,253
15,setembro,5772,21008,26780,408,1442,1865.0,361.0,138.0,268.0,...,397,1869,1791.0,196.0,284.0,208.0,169.0,317,1344,NaN
16,outubro,4886,9430,14316,61,244,198.0,353.0,118.0,376.0,...,1241,402,350.0,83.0,117.0,369.0,735.0,924,40,263
17,novembro,4852,13551,18403,169,1400,1529.0,666.0,1809.0,362.0,...,-,-,33.0,526.0,934.0,295.0,161.0,174,174,NaN
18,dezembro,6822,6733,13555,241,741,1273.0,189.0,256.0,292.0,...,369,641,259.0,311.0,252.0,546.0,780.0,945,570,650

In [7]:
df.fillna(0, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 7 to 18
Data columns (total 35 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Mes                                             12 non-null     object
 1   Dias uteis                                      12 non-null     int64
 2   Fins de semana, feriados e pontos facultativos  12 non-null     int64
 3   Mensal                                          12 non-null     int64
 4   1                                               12 non-null     int64
 5   2                                               12 non-null     int64
 6   3                                               12 non-null     float64
 7   4                                               12 non-null     float64
 8   5                                               12 non-null     float64
 9   6                                               12 non-null     float64
 10  7                                               12 non-null     int64
 11  8                                               12 non-null     int64
 12  9                                               12 non-null     float64
 13  10                                              12 non-null     float64
 14  11                                              12 non-null     float64
 15  12                                              12 non-null     float64
 16  13                                              12 non-null     float64
 17  14                                              12 non-null     float64
 18  15                                              12 non-null     object
 19  16                                              12 non-null     float64
 20  17                                              12 non-null     float64
 21  18                                              12 non-null     object
 22  19                                              12 non-null     float64
 23  20                                              12 non-null     float64
 24  21                                              12 non-null     float64
 25  22                                              12 non-null     object
 26  23                                              12 non-null     object
 27  24                                              12 non-null     float64
 28  25                                              12 non-null     float64
 29  26                                              12 non-null     float64
 30  27                                              12 non-null     float64
 31  28                                              12 non-null     float64
 32  29                                              12 non-null     object
 33  30                                              12 non-null     object
 34  31                                              12 non-null     object
dtypes: float64(20), int64(7), object(8)
memory usage: 3.4+ KB

In [9]:
df

,Mes,Dias uteis,"Fins de semana, feriados e pontos facultativos",Mensal,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
7,janeiro,9625,11881,21506,904,1162,1204.0,694.0,144.0,22.0,...,1533,570,222.0,489.0,514.0,678.0,1716.0,1383,-,-
8,fevereiro,5870,10480,16350,267,334,345.0,1480.0,1125.0,377.0,...,936,509,721.0,976.0,1025.0,281.0,294.0,0,0,0
9,mar√ßo,7597,11987,19584,212,245,287.0,1282.0,1352.0,230.0,...,326,281,334.0,1422.0,2269.0,52.0,243.0,324,-,199
10,abril,4630,13414,18044,594,594,370.0,303.0,396.0,359.0,...,2026,2033,111.0,342.0,317.0,319.0,48.0,750,1186,0
11,maio,5437,16147,21584,3559,248,442.0,213.0,408.0,1364.0,...,341,380,399.0,299.0,419.0,2007.0,2391.0,-,202,55
12,junho,5775,20428,26203,142,237,1161.0,1628.0,210.0,362.0,...,316,240,1405.0,2395.0,111.0,315.0,376.0,420,233,0
13,julho,13026,16096,29122,1708,1492,281.0,301.0,492.0,308.0,...,2904,3250,1204.0,1148.0,1143.0,1150.0,972.0,81,575,684
14,agosto,7903,11407,19310,319,464,393.0,633.0,3224.0,3100.0,...,417,381,445.0,349.0,58.0,58.0,54.0,97,170,253
15,setembro,5772,21008,26780,408,1442,1865.0,361.0,138.0,268.0,...,397,1869,1791.0,196.0,284.0,208.0,169.0,317,1344,0
16,outubro,4886,9430,14316,61,244,198.0,353.0,118.0,376.0,...,1241,402,350.0,83.0,117.0,369.0,735.0,924,40,263
17,novembro,4852,13551,18403,169,1400,1529.0,666.0,1809.0,362.0,...,-,-,33.0,526.0,934.0,295.0,161.0,174,174,0
18,dezembro,6822,6733,13555,241,741,1273.0,189.0,256.0,292.0,...,369,641,259.0,311.0,252.0,546.0,780.0,945,570,650

In [10]:
df_2022 = pd.read_excel("visitantes_por_dia.xlsx", sheet_name="2022")
df_2022 = df_2022.dropna(subset=["Data.Rio", "Unnamed: 3"])

In [11]:
df_2022.columns = ["Mes",
    "Dias uteis", 
    "Fins de semana, feriados e pontos facultativos", 
    "Mensal", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
    "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", 
    "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"
]
df_2022.fillna(0, inplace=True)

In [12]:
df_2022

,Mes,Dias uteis,"Fins de semana, feriados e pontos facultativos",Mensal,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
7,janeiro,5672,7755,13427,358,1162,556.0,481.0,645.0,272.0,...,898,1292,325.0,231,398,356,247.0,527.0,236.0,125
8,fevereiro,3237,7094,10331,173,194,143.0,191.0,819.0,1005.0,...,305,185,278.0,272,1201,982,781.0,0.0,0.0,0
9,mar√ßo,5911,8519,14430,1192,813,265.0,339.0,1094.0,1336.0,...,92,193,207.0,217,865,1014,158.0,102.0,127.0,115
10,abril,3200,7366,10566,22,55,313.0,260.0,145.0,150.0,...,957,512,975.0,160,298,328,207.0,179.0,149.0,0
11,maio,4755,9789,14544,856,263,229.0,195.0,187.0,225.0,...,1463,-,292.0,267,385,441,1546.0,2121.0,162.0,83
12,junho,4105,5505,9610,139,187,54.0,54.0,707.0,197.0,...,199,363,448.0,872,173,-,186.0,599.0,259.0,0
13,julho,10129,16038,26167,357,954,1674.0,324.0,293.0,447.0,...,801,1786,3004.0,-,641,766,846.0,450.0,546.0,1198
14,agosto,5349,7293,12642,273,249,251.0,337.0,356.0,475.0,...,-,288,208.0,325,641,1334,1542.0,19.0,84.0,284
15,setembro,4416,10250,14666,448,391,1487.0,91.0,137.0,400.0,...,101,97,1065.0,1903,18,135,14.0,10.0,67.0,0
16,outubro,4423,10387,14810,271,206,66.0,62.0,137.0,218.0,...,797,925,209.0,306,284,287,393.0,563.0,401.0,-
17,novembro,3105,10199,13304,23,15,94.0,178.0,634.0,1000.0,...,-,-,99.0,280,831,663,112.0,144.0,171.0,0
18,dezembro,6284,6407,12691,350,180,859.0,1436.0,172.0,68.0,...,215,341,382.0,458,-,636,780.0,727.0,138.0,-

In [14]:
df.to_csv("arquivo_para_teste.csv")

In [13]:
df

,Mes,Dias uteis,"Fins de semana, feriados e pontos facultativos",Mensal,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
7,janeiro,9625,11881,21506,904,1162,1204.0,694.0,144.0,22.0,...,1533,570,222.0,489.0,514.0,678.0,1716.0,1383,-,-
8,fevereiro,5870,10480,16350,267,334,345.0,1480.0,1125.0,377.0,...,936,509,721.0,976.0,1025.0,281.0,294.0,0,0,0
9,mar√ßo,7597,11987,19584,212,245,287.0,1282.0,1352.0,230.0,...,326,281,334.0,1422.0,2269.0,52.0,243.0,324,-,199
10,abril,4630,13414,18044,594,594,370.0,303.0,396.0,359.0,...,2026,2033,111.0,342.0,317.0,319.0,48.0,750,1186,0
11,maio,5437,16147,21584,3559,248,442.0,213.0,408.0,1364.0,...,341,380,399.0,299.0,419.0,2007.0,2391.0,-,202,55
12,junho,5775,20428,26203,142,237,1161.0,1628.0,210.0,362.0,...,316,240,1405.0,2395.0,111.0,315.0,376.0,420,233,0
13,julho,13026,16096,29122,1708,1492,281.0,301.0,492.0,308.0,...,2904,3250,1204.0,1148.0,1143.0,1150.0,972.0,81,575,684
14,agosto,7903,11407,19310,319,464,393.0,633.0,3224.0,3100.0,...,417,381,445.0,349.0,58.0,58.0,54.0,97,170,253
15,setembro,5772,21008,26780,408,1442,1865.0,361.0,138.0,268.0,...,397,1869,1791.0,196.0,284.0,208.0,169.0,317,1344,0
16,outubro,4886,9430,14316,61,244,198.0,353.0,118.0,376.0,...,1241,402,350.0,83.0,117.0,369.0,735.0,924,40,263
17,novembro,4852,13551,18403,169,1400,1529.0,666.0,1809.0,362.0,...,-,-,33.0,526.0,934.0,295.0,161.0,174,174,0
18,dezembro,6822,6733,13555,241,741,1273.0,189.0,256.0,292.0,...,369,641,259.0,311.0,252.0,546.0,780.0,945,570,650

In [33]:
%%writefile modelo.py

import pandas as pd
import streamlit as st
from io import StringIO
import time
from st_aggrid import AgGrid, GridOptionsBuilder
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np


st.write("""Este painel tem como objetivo dar insights em rela√ß√£o a sazonalidade de visitas ao parque, 
auxiliando o visitante a escolher o melhor dia para n√£o enfrentar grandes esperas""")


@st.cache_data
def load_data(file):
    return pd.read_csv(file)

df = pd.read_excel("visitantes_por_dia.xlsx", sheet_name="2023")
df = df.dropna(subset=["Data.Rio", "Unnamed: 3"])
df.columns = ["Mes",
    "Visitantes Dias uteis", 
    "Visitantes Fins de semana, feriados e pontos facultativos", 
    "Total Visitantes Mensais", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
    "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", 
    "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"
]

if "mes_selecionado" not in st.session_state:
    st.session_state["mes_selecionado"] = []

if "tipo_dia" not in st.session_state:
    st.session_state["tipo_dia"] = "Visitantes Dias uteis"

if "colunas_selecionadas" not in st.session_state:
    st.session_state["colunas_selecionadas"] = ["Mes", "Total Visitantes Mensais"]

if "bg_color" not in st.session_state:
    st.session_state["bg_color"] = "#000000"  

if "font_color" not in st.session_state:
    st.session_state["font_color"] = "#FFFFFF"  

st.title("Upload de Arquivo CSV - Dados de Turismo")

st.write("Por favor, fa√ßa o upload de um arquivo CSV contendo dados de turismo do portal Data.Rio.")

arquivo_upload = st.file_uploader("Escolha o arquivo CSV", type="csv")

st.sidebar.header("Personaliza√ß√£o de cores")
bg_color = st.sidebar.color_picker("Escolha a cor de fundo", st.session_state["bg_color"])
font_color = st.sidebar.color_picker("Escolha a cor da fonte", st.session_state["font_color"])

st.session_state["bg_color"] = bg_color
st.session_state["font_color"] = font_color

codigo_css = f"""
    <style>
    .stApp {{
        background-color: {bg_color};
        color: {font_color};
    }}
    h1, h2, h3, h4, h5, h6, p, div, label, span, .stMarkdown {{
        color: {font_color} !important;
    }}
    .css-1v0mbdj a {{
        color: {font_color} !important;  /* Links */
    }}
    </style>
"""
st.markdown(codigo_css, unsafe_allow_html=True)

if arquivo_upload is not None:
    with st.spinner("Processando o arquivo..."):
        time.sleep(2)  
        
        progress_bar = st.progress(0)
        
        for percent_complete in range(1, 6):
            time.sleep(1)  
            progress_bar.progress(percent_complete * 20)

        df = load_data(arquivo_upload)

        st.write("Aqui est√£o os primeiros registros do seu arquivo:")
        st.dataframe(df.head())

        st.write("Informa√ß√µes sobre o arquivo:")
        st.write(df.describe())
    
    st.success("Arquivo processado com sucesso!")
else:
    st.write("Nenhum arquivo foi carregado ainda.")

st.sidebar.header("Filtros")

mes_selecionado = st.sidebar.multiselect(
    "Selecione o m√™s", 
    df["Mes"].unique(), 
    default=st.session_state["mes_selecionado"]
)
st.session_state["mes_selecionado"] = mes_selecionado

tipo_dia = st.sidebar.radio(
    "Tipo de Dia",
    ("Visitantes Dias uteis", "Visitantes Fins de semana, feriados e pontos facultativos"),
    index=("Visitantes Dias uteis", "Visitantes Fins de semana, feriados e pontos facultativos").index(st.session_state["tipo_dia"])
)
st.session_state["tipo_dia"] = tipo_dia

colunas_selecionadas = st.sidebar.multiselect(
    "Selecione as colunas que deseja visualizar",
    df.columns,
    default=st.session_state["colunas_selecionadas"]
)
st.session_state["colunas_selecionadas"] = colunas_selecionadas

if mes_selecionado:
    df_filtrado = df[df["Mes"].isin(mes_selecionado)][colunas_selecionadas]
else:
    df_filtrado = df[colunas_selecionadas]

st.subheader("Tabela Interativa")

gb = GridOptionsBuilder.from_dataframe(df_filtrado)
gb.configure_default_column(editable=False, filter=True, sortable=True)
grid_options = gb.build()

AgGrid(df_filtrado, gridOptions=grid_options, height=400, theme="streamlit")

csv = df_filtrado.to_csv(index=False)
st.download_button(
    label="Baixar dados filtrados em CSV",
    data=csv,
    file_name="dados_filtrados.csv",
    mime="text/csv"
)

st.subheader("M√©tricas B√°sicas")

if "Total Visitantes Mensais" in df_filtrado.columns:
    media_mensal = df_filtrado["Total Visitantes Mensais"].mean()
    st.metric(label="M√©dia Mensal", value=f"{int(media_mensal)}")

if "Total Visitantes Mensais" in df_filtrado.columns:
    soma_mensal = df_filtrado["Total Visitantes Mensais"].sum()
    st.metric(label="Visitantes no Ano", value=f"{soma_mensal}")

st.subheader("Visualiza√ß√µes")

if "Total Visitantes Mensais" in df_filtrado.columns and "Mes" in df_filtrado.columns:
    bar_chart = px.bar(df_filtrado, x="Mes", y="Total Visitantes Mensais", title="Visitantes por M√™s")
    st.plotly_chart(bar_chart)


total_visitantes_dias_uteis = df["Visitantes Dias uteis"].sum()
total_fins_semana_feriados = df["Visitantes Fins de semana, feriados e pontos facultativos"].sum()

grafico = pd.DataFrame({
    "Categoria": ["Dias Uteis", "Fins de Semana/Feriados"],
    "Valor": [total_visitantes_dias_uteis, total_fins_semana_feriados]
})

pie_chart = px.pie(
    grafico, 
    names="Categoria", 
    values="Valor", 
    title="Compara√ß√£o de Visitantes",
    color_discrete_sequence=["#000080", "#800000"] 
)

pie_chart.update_layout(
    title_font=dict(color="white"),
    font=dict(color="white"),
    legend_font=dict(color="white"),
    paper_bgcolor=st.session_state["bg_color"],
    plot_bgcolor=st.session_state["bg_color"]
)

st.plotly_chart(pie_chart)

ordem_meses = [
    "janeiro", "fevereiro", "mar√ßo", "abril", "maio", "junho", 
    "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"
]

colunas_dias = [str(i) for i in range(1, 32)]  

colunas_dias_existentes = [col for col in colunas_dias if col in df.columns]
df["M√©dia Visitantes Di√°rios"] = df[colunas_dias_existentes].mean(axis=1)

df["Mes"] = pd.Categorical(df["Mes"], categories=ordem_meses, ordered=True)


media_diaria_por_mes = df.groupby("Mes")["M√©dia Visitantes Di√°rios"].mean().reset_index()

st.subheader("Gr√°fico de Barras: M√©dia de Visitantes Di√°rios por M√™s")
bar_chart_media_diaria = px.bar(
     media_diaria_por_mes, 
     x="Mes", 
     y="M√©dia Visitantes Di√°rios", 
     title="M√©dia de Visitantes Di√°rios por M√™s",
     labels={"M√©dia Visitantes Di√°rios": "M√©dia de Visitantes Di√°rios"}
)

bar_chart_media_diaria.update_layout(
     title_font=dict(color="white"),
     font=dict(color="white"),
     paper_bgcolor=st.session_state["bg_color"],
     plot_bgcolor=st.session_state["bg_color"]
)

st.plotly_chart(bar_chart_media_diaria)

Overwriting modelo.py

In [ ]:
!streamlit run modelo.py